Repository NREL/floris, pull requests merged in 2023-12, with the labels that each got.

#749 Fix path dependency in `convert_to_path` test
  floris/type_dec.py
  tests/type_dec_unit_test.py
Labels: bug

#750 Improve attrs usage in simulation package
  floris/logging_manager.py
  floris/simulation/base.py
  floris/simulation/farm.py
  floris/simulation/floris.py
  floris/simulation/turbine.py
  floris/simulation/turbine_multi_dim.py
  floris/simulation/wake_deflection/gauss.py
  floris/simulation/wake_velocity/jensen.py
  floris/tools/floris_interface.py
  floris/tools/interface_utilities.py
  floris/tools/optimization/layout_optimization/layout_optimization_base.py
  floris/tools/optimization/legacy/pyoptsparse/optimization.py
  floris/tools/optimization/legacy/scipy/yaw_clustered.py
  floris/tools/optimization/legacy/scipy/yaw_wind_rose_clustered.py
  floris/tools/optimization/legacy/scipy/yaw_wind_rose_parallel.py
  floris/tools/optimization/legacy/scipy/yaw_wind_rose_parallel_clustered.py
  floris/tools/optimization/yaw_optimization/yaw_optimization_base.py
  floris/tools/optimization/yaw_optimization/yaw_optimizer_sr.py
  floris/tools/parallel_computing_interface.py
  floris/tools/uncertainty_interface.py
  tests/base_test.py
Labels: enhancement, floris.simulation

#754 Bug fix: Enable mulit-dimensional turbines for turbine interactions
  docs/turbine_interaction.ipynb
  floris/simulation/turbine.py
  floris/simulation/turbine_multi_dim.py
  floris/turbine_library/iea_15MW_multi_dim_cp_ct.yaml
  floris/turbine_library/turbine_previewer.py
Labels: bug, enhancement, documentation

#755 Fix the turbine.power function unit test
  floris/simulation/turbine.py
  tests/turbine_unit_test.py
Labels: bug, v3

#751 Grid-class tidying
  floris/simulation/farm.py
  floris/simulation/floris.py
  floris/simulation/grid.py
  floris/simulation/solver.py
  floris/simulation/turbine.py
  floris/simulation/turbine_multi_dim.py
  floris/simulation/wake_deflection/gauss.py
  floris/tools/floris_interface.py
  floris/type_dec.py
  floris/utilities.py
  tests/conftest.py
  tests/farm_unit_test.py
  tests/grid_unit_test.py
  tests/turbine_grid_unit_test.py
  tests/turbine_unit_test.py
  tests/vec3_unit_test.py
Labels: enhancement, floris.simulation

#759 Fix issue with mutable default attributes
  floris/simulation/farm.py
  floris/simulation/flow_field.py
  floris/simulation/turbine.py
  floris/simulation/wake.py
  floris/simulation/wake_velocity/empirical_gauss.py
  tests/type_dec_unit_test.py
Labels: bug, v3, floris.simulation

#729 Add utility to build turbine yaml from absolute power, thrust curves
  docs/examples.md
  examples/32_specify_turbine_power_curve.py
  floris/turbine_library/__init__.py
  floris/turbine_library/turbine_previewer.py
  floris/turbine_library/turbine_utilities.py
  tests/turbine_unit_test.py
Labels: new-feature

#762 Clean up and align Turbine and TurbineMultiDim class architectures
  docs/code_quality.ipynb
  examples/18_check_turbine.py
  examples/24_floating_turbine_models.py
  examples/29_floating_vs_fixedbottom_farm.py
  examples/inputs_floating/turbine_files/nrel_5MW_fixed.yaml
  examples/inputs_floating/turbine_files/nrel_5MW_floating.yaml
  examples/inputs_floating/turbine_files/nrel_5MW_floating_defined_floating.yaml
  examples/inputs_floating/turbine_files/nrel_5MW_floating_fixedtilt15.yaml
  examples/inputs_floating/turbine_files/nrel_5MW_floating_fixedtilt5.yaml
  floris/simulation/__init__.py
  floris/simulation/base.py
  floris/simulation/farm.py
  floris/simulation/floris.py
  floris/simulation/grid.py
  floris/simulation/solver.py
  floris/simulation/turbine.py
  floris/simulation/turbine_multi_dim.py
  floris/tools/floris_interface.py
  floris/turbine_library/iea_15MW_floating_multi_dim_cp_ct.yaml
  floris/turbine_library/turbine_previewer.py
  floris/type_dec.py
  tests/base_test.py
  tests/conftest.py
  tests/reg_tests/cumulative_curl_regression_test.py
  tests/reg_tests/empirical_gauss_regression_test.py
  tests/reg_tests/floris_interface_regression_test.py
  tests/reg_tests/gauss_regression_test.py
  tests/reg_tests/jensen_jimenez_regression_test.py
  tests/reg_tests/none_regression_test.py
  tests/reg_tests/turbopark_regression_test.py
  tests/turbine_multi_dim_unit_test.py
  tests/turbine_unit_test.py
Labels: enhancement, floris.simulation

#764 Convert core data structures and tools to use 4D arrays
  .github/workflows/check-working-examples.yaml
  docs/floris_101.ipynb
  docs/wake_models.ipynb
  examples/01_opening_floris_computing_power.py
  examples/02_visualizations.py
  examples/03_making_adjustments.py
  examples/04_sweep_wind_directions.py
  examples/05_sweep_wind_speeds.py
  examples/06_sweep_wind_conditions.py
  examples/07_calc_aep_from_rose.py
  examples/09_compare_farm_power_with_neighbor.py
  examples/16b_heterogeneity_multiple_ws_wd.py
  examples/18_check_turbine.py
  examples/21_demo_time_series.py
  examples/22_get_wind_speed_at_turbines.py
  examples/24_floating_turbine_models.py
  examples/26_empirical_gauss_velocity_deficit_parameters.py
  examples/27_empirical_gauss_deflection_parameters.py
  examples/28_extract_wind_speed_at_points.py
  examples/29_floating_vs_fixedbottom_farm.py
  examples/30_multi_dimensional_cp_ct.py
  examples/31_multi_dimensional_cp_ct_2Hs.py
  examples/32_specify_turbine_power_curve.py
  floris/simulation/farm.py
  floris/simulation/floris.py
  floris/simulation/flow_field.py
  floris/simulation/grid.py
  floris/simulation/solver.py
  floris/simulation/turbine.py
  floris/simulation/turbine_multi_dim.py
  floris/simulation/wake_deflection/empirical_gauss.py
  floris/simulation/wake_deflection/gauss.py
  floris/simulation/wake_turbulence/wake_induced_mixing.py
  floris/simulation/wake_velocity/cumulative_gauss_curl.py
  floris/simulation/wake_velocity/empirical_gauss.py
  floris/simulation/wake_velocity/turbopark.py
  floris/tools/floris_interface.py
  floris/tools/visualization.py
  floris/utilities.py
  profiling/profiling.py
  profiling/quality_metrics.py
  tests/conftest.py
  tests/farm_unit_test.py
  tests/floris_interface_test.py
  tests/flow_field_unit_test.py
  tests/reg_tests/cumulative_curl_regression_test.py
  tests/reg_tests/empirical_gauss_regression_test.py
  tests/reg_tests/floris_interface_regression_test.py
  tests/reg_tests/gauss_regression_test.py
  tests/reg_tests/jensen_jimenez_regression_test.py
  tests/reg_tests/none_regression_test.py
  tests/reg_tests/turbopark_regression_test.py
  tests/turbine_grid_unit_test.py
  tests/turbine_multi_dim_unit_test.py
  tests/turbine_unit_test.py
  tests/utilities_unit_test.py
Labels: enhancement, floris.tools, floris.simulation
