Repository NREL/floris, pull requests merged in 2023-02, with the labels that each got.

#541 Add weights to AEP wind rose
  examples/08_calc_aep_from_rose_use_class.py
  floris/tools/floris_interface.py
Labels: enhancement, floris.tools

#555 Add parallel computing interface for farm simulation and yaw optimization
  docs/examples.md
  examples/12_optimize_yaw_in_parallel.py
  floris/tools/__init__.py
  floris/tools/optimization/yaw_optimization/yaw_optimizer_sr.py
  floris/tools/parallel_computing_interface.py
Labels: enhancement, floris.tools

#496 Feature/update layout vis
  docs/examples.md
  examples/23_visualize_layout.py
  floris/tools/layout_functions.py
Labels: enhancement

#453 Support heterogeneous wind direction definition via FlorisInterface.reinitialize
  docs/examples.md
  examples/16b_heterogenaity_multiple_ws_wd.py
  floris/simulation/flow_field.py
  floris/tools/floris_interface.py
Labels: enhancement, floris.tools

#569 Infrastructure improvements
  .github/workflows/continuous-integration-workflow.yaml
  .github/workflows/python-publish.yml
  .pre-commit-config.yaml
  examples/12_optimize_yaw_in_parallel.py
  pyproject.toml
Labels: enhancement

#418 Add virtual turbine plotting method
  examples/02_visualizations.py
  floris/tools/visualization.py
Labels: enhancement, floris.tools

#544 Add linear wind condition upsampling method to WindRose
  floris/tools/wind_rose.py
Labels: enhancement, floris.tools

#564 Bug fix: sort turbulence intensity field in post-calculation step
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  docs/index.md
  floris/simulation/flow_field.py
  floris/simulation/solver.py
  floris/version.py
Labels: bug

#576 Bug fix: Scipy layout optimization boundary constraints are violated
  examples/15_optimize_layout.py
  floris/tools/optimization/layout_optimization/layout_optimization_scipy.py
Labels: bug, floris.tools

#570 Improve the documentation navigation menu and organization
  docs/_config.yml
  docs/_toc.yml
  docs/background_concepts.ipynb
  docs/dev_guide.md
  docs/floris_101.ipynb
  docs/input_reference.md
  docs/input_reference.rst
  docs/installation.md
  docs/intro.md
  docs/reference.md
  setup.py
Labels: documentation
