Repository NREL/floris, pull requests merged in 2024-01, with the labels that each got.

#771 Update reference wind turbines in the default turbine library
  docs/turbine_interaction.ipynb
  examples/18_check_turbine.py
  examples/32_plot_velocity_deficit_profiles.py
  examples/inputs_floating/turbine_files/nrel_5MW_fixed.yaml
  examples/inputs_floating/turbine_files/nrel_5MW_floating.yaml
  examples/inputs_floating/turbine_files/nrel_5MW_floating_defined_floating.yaml
  examples/inputs_floating/turbine_files/nrel_5MW_floating_fixedtilt15.yaml
  examples/inputs_floating/turbine_files/nrel_5MW_floating_fixedtilt5.yaml
  floris/turbine_library/iea_10MW.yaml
  floris/turbine_library/iea_10MW_v3legacy.yaml
  floris/turbine_library/iea_10MW_v4converted.yaml
  floris/turbine_library/iea_10MW_v4updated.yaml
  floris/turbine_library/iea_15MW.yaml
  floris/turbine_library/iea_15MW_floating_multi_dim_cp_ct_v3legacy.yaml
  floris/turbine_library/iea_15MW_v3legacy.yaml
  floris/turbine_library/iea_15MW_v4converted.yaml
  floris/turbine_library/iea_15MW_v4updated.yaml
  floris/turbine_library/nrel_5MW.yaml
  floris/turbine_library/nrel_5MW_v3legacy.yaml
  floris/turbine_library/nrel_5MW_v4converted.yaml
  floris/turbine_library/nrel_5MW_v4updated.yaml
  floris/turbine_library/turbine_utilities.py
  floris/turbine_library/x_20MW.yaml
  tests/conftest.py
  tests/data/nrel_5MW_v3legacy.yaml
  tests/farm_unit_test.py
  tests/reg_tests/cumulative_curl_regression_test.py
  tests/reg_tests/empirical_gauss_regression_test.py
  tests/reg_tests/floris_interface_regression_test.py
  tests/reg_tests/gauss_regression_test.py
  tests/reg_tests/jensen_jimenez_regression_test.py
  tests/reg_tests/none_regression_test.py
  tests/reg_tests/turbopark_regression_test.py
  tests/turbine_multi_dim_unit_test.py
  tests/turbine_unit_test.py
  tests/turbine_utilities_unit_test.py
Labels: examples, v4

#775 Adds classes to structure wind energy data for FLORIS
  examples/34_wind_data.py
  floris/tools/__init__.py
  floris/tools/floris_interface.py
  floris/tools/power_rose.py
  floris/tools/wind_data.py
  floris/tools/wind_rose.py
  pyproject.toml
  tests/wind_data_test.py
Labels: floris.tools, in-progress, v4

#784 Remove small variations in above rated power
  examples/inputs_floating/turbine_files/nrel_5MW_fixed.yaml
  examples/inputs_floating/turbine_files/nrel_5MW_floating.yaml
  examples/inputs_floating/turbine_files/nrel_5MW_floating_defined_floating.yaml
  examples/inputs_floating/turbine_files/nrel_5MW_floating_fixedtilt15.yaml
  examples/inputs_floating/turbine_files/nrel_5MW_floating_fixedtilt5.yaml
  floris/turbine_library/iea_10MW.yaml
  floris/turbine_library/iea_15MW.yaml
  floris/turbine_library/nrel_5MW.yaml
  tests/conftest.py
Labels: v4
